.benefits__content {
    display: flex block;
    flex-direction: column;
    row-gap: var(--spacing-500);

    @media (min-width: 1200px) {
        flex-direction: row-reverse;
        column-gap: var(--spacing-1000);
        align-items: center;
    }
}

.benefits__title {
    margin-bottom: var(--spacing-400);
}

.benefits__readonly-checkboxes {
    display: flex block;
    flex-direction: column;
    row-gap: var(--spacing-200);
}

.benefits__image-container {
    border-radius: var(--border-radius-24);
    overflow: clip;

    @media (min-width: 1200px) {
        max-width: 560px;
        flex-shrink: 0;
    }
}